extends ../layout

block content
  h1= title
  a(href='/verifications/interview') Interview
  br
  a(href='/verifications/reading') Reading & Vocabulary
  br
  a(href='/verifications/speaking') Speaking & Listening
  br
  a(href='/verifications/writing') Writing & Grammar
  br
  a(href='/verifications/toefl') TOEFL
  br
  a(href='/verifications/recommendation') Teacher Recommendation
  br
  a(href='/verifications/timed_writing') Timed Writing