extends layout

block content
  h1= title
  a(href='/login') Login
  br
  a(href='/students') Student List
  br
  a(href='/webforms') Fill In Forms
  br
  a(href='/verifications') Verify the data
  br
  a(href='/reports') Browsing report