extends layout


block content
  .index_page
    h2.text-center English Language Institute
    br
    .row
      .col-md-4
          .panel.panel-default
            .panel-heading.text-center Students
            .panel-body
              ul
                li
                  a(href='/students/create') Add a new student
                li
                  a(href='/students') Browse student list
                li
                  a(href='/students/add_semester') Add a new semester to a student

          .panel.panel-default
            .panel-heading.text-center User
            .panel-body
              ul
                li
                  a(href='/users/') View your user profile
                  
      .col-md-4
        .panel.panel-default
          .panel-heading.text-center Webforms
          .panel-body
              bold Enter data through web forms
            ul
              li
                a(href='/webforms/') Pick a student from list.
              li Grades
                ul
                  li
                    a(href='/webforms/readings') Reading & Vocabulary
                  li
                    a(href='/webforms/speakings') Speaking & Listening
                  li
                    a(href='/webforms/writings') Writing & Grammar
                  li
                    a(href='#') TOEFL Prep
                  li
                    a(href='#') Extensive Listening
              li
                a(href='/webforms/interviews/') Interview
              li
                a(href='/webforms/recommendations') Teacher Recommendation
              li
                a(href='/webforms/timed_writings') Timed Writing
      .col-md-4
        .panel.panel-default
          .panel-heading.text-center Administrator
          .panel-body
            ul
              li
                a(href='#') Verify registered user
              li
                a(href='/verifications') Verify input form
              li
                a(href='/reports') Check report