doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  header
    a(href='/') Home  
  body
    block content
  footer
    p Timothy Fojtik
    p Concordia University Wisconsin
    if message
      p(style='color:red;')= message