body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.index_page {
  padding: 10px 15px;
}
.warning {
	color: red;
	font-weight: bold;
}
.footer_eli {
	color: LightGray;
	text-align: right;
}
.alert {
	margin-top: 20px;
}
td.yes {
	color: green;
	font-weight: bold;
}
td.no {
	color: red;
	font-weight: bold;
}
