extends ../layout

block content
  h1= title
  p
    a(href='/webforms/interviews/' + Semester_id) Interview
  p Grades
  ul
    li
      a(href='/webforms/readings/' + Semester_id) Reading & Vocabulary
    li
      a(href='/webforms/speakings/' + Semester_id) Speaking & Listening
    li
      a(href='/webforms/writings/' + Semester_id) Writing & Grammar
  p
    a(href='/webforms/toefls/' + Semester_id) TOEFL Score
  p
    a(href='/webforms/recommendations/' + Semester_id) Teacher Recommendation
  p
    a(href='/webforms/timed_writings/' + Semester_id) Timed Writing